<h1>Upload Content</h1>

<%= form_for(@content) do |f| %>
<% if @content.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@content.errors.count, "error") %>
    prohibited this content from being saved:</h2>

  <ul>
    <% @content.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p>
  Adapun Konten yang akan harus dikirim untuk kebutuhan website sekolah adalah sebagai berikut :
  <ol>
    <li>Logo sekolah ukuran besar</li>
    <li>Beberapa foto ukuran besar untuk slider di halaman depan</li>
    <li>Profile</li>
    <ol type="a">
      <li>Identitas Sekolah</li>
      <li>Visi Misi</li>
      <li>Sambutan Kepala Sekolah</li>
    </ol>
  <li>Prestasi</li>
  <ol type="a">
    <li>Akademik</li>
    <li>Non-akademik</li>
  </ol>
<li>Kegiatan Ekstrakulikuler</li>
<li>Kontak</li>
<ol type="a">
  <li>Alamat sekolah</li>
  <li>Nomor telepon</li>
</ol>
<li>Dan beberapa konten tambahan lainnya yang dirasa perlu.</li>
</ol>
</p>

<p>
Konten tersebut disatukan dalam bentuk .ZIP/.RAR. Kemudian di upload pada form berikut :
</p>

<div class="form-group">
<%= f.label :file_path %><br>
<%= f.file_field :file_path %>
<%= f.object.file_path? ? link_to(f.object.file_path, f.object.file_path.url) : content_tag(:span, "Upload file") %>
</div>
<div class="form-group">
<%= f.label :note %><br>
<%= f.text_area :note, class: "form-control" %>
</div>
<div class="form-group btn-position">
<%= f.submit "Save", class: "btn btn-success" %>
</div>
<% end %>