<p id="notice"><%= notice %></p>

<p>
  <strong>File path:</strong>
  <%= @content.file_path %>
</p>

<p>
  <strong>Note:</strong>
  <%= @content.note %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
