<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>School name:</strong>
  <%= @order.school_name %>
</p>

<p>
  <strong>School phone:</strong>
  <%= @order.school_phone %>
</p>

<p>
  <strong>School address:</strong>
  <%= @order.school_address %>
</p>

<p>
  <strong>Province:</strong>
  <%= @order.province %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>School domain name:</strong>
  <%= @order.school_domain_name %>
</p>

<p>
  <strong>Requirement file path:</strong>
  <%= @order.requirement_file_path %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
